button,
.button {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  display: inline-block;
  margin: 4px 0px;
  padding: 0px 8px;
  border: none;
  transform: scale(1);
  transition-duration: 80ms;
  transition-property: transform;
  background-color: rgba(0,0,0,0);
  color: #616161;
  border: 1px solid #757575;
}

button:not(:disabled),
.button:not(:disabled) {
  cursor: pointer;
}

button,
button > span,
.button,
.button > span {
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  font-size: 14px;
  line-height: 36px;
}

button:hover,
.button:hover {
  background-color: #E0E0E0;
}

button:active:not(:disabled),
.button:active:not(:disabled) {
  transform: scale(.96);
}

button + button,
.button + .button {
  margin-left: 6px;
}

button.is-small,
.button.is-small {
  height: 32px;
  line-height: 32px;
  font-size: 13.5px;
}

button.is-primary,
.button.is-primary {
  background-color: #1E88E5;
  color: #FFFFFF;
}

button.is-primary:hover,
.button.is-primary:hover {
  background-color: #2196F3;
}

button.is-positive,
.button.is-positive {
  background-color: #388E3C;
  color: #FFFFFF;
}

button:not(:disabled).is-positive:hover,
.button:not(:disabled).is-positive:hover {
  background-color: #43A047;
}

button:disabled,
.button:disabled {
  background-color: unset;
  color: #9E9E9E;
  border: 1px solid #9E9E9E;
}

button:hover:disabled,
.button:hover:disabled {
  background-color: unset;
}

button.is-negative,
.button.is-negative {
  background-color: #E53935;
  color: #FFFFFF;
}

button.is-negative:hover,
.button.is-negative:hover {
  background-color: #F44336;
}

button.is-amber,
.button.is-amber {
  background-color: #FF6F00;
  color: #FFFFFF;
}

button.is-amber:hover,
.button.is-amber:hover {
  background-color: #FF8F00;
}

button > .icon,
.button > .icon {
  display: block;
  float: left;
  font-size: 24px;
  margin: 6px 3px;
}

button > .icon:first-child,
.button > .icon:first-child {
  margin-left: 0px;
}

button > .icon:last-child,
.button > .icon:last-child {
  margin-right: 0px;
}

td button,
td .button {
  margin-top: 0px;
  margin-bottom: 0px;
}
