.table {
  min-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.table td,
.table th {
  box-sizing: border-box;
  height: 39px; /* min-height + 1px border */
  padding-top: 4px;
  padding-bottom: 4px;
  vertical-align: middle;
  border-bottom: 1px solid #E0E0E0;
  text-align: left;
}

.table.is-hover tr:hover {
  background-color: #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}

.is-smallscreen .table td,
.is-smallscreen .table th {
  height: 52px;
  padding-top: 4px;
  padding-bottom: 4px;
}
