.input-autotext-list-container {
  position: relative;
  height: 0px;
}

.input-autotext-list {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.input-autotext-nosuggestion {
  padding: 8px;
  color: #616161;
  background-color: #ECEFF1;
}

.input-autotext-item {
  cursor: pointer;
  padding: 8px;
}

.input-autotext-item.active {
  background-color: #CFD8DC;
}
