.modal-container {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-flow: column nowrap;
  min-width: 300px;
  max-width: 640px;
  width: 95%;
  max-height: 90%;
  background-color: #FFF;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  padding-right: 16px;
  background-color: #F5F5F5;
}

.modal-title {
  margin: 0px;
}

.modal-close-btn {
  cursor: pointer;
  background-color: #F5F5F5;
  border: none;
  font-size: 24px;
  color: #424242;
}

.modal-close-btn:hover {
  color: #757575
}

.modal-body {
  padding: 24px;
  overflow-y: overlay;
  overflow-x: hidden;
}

.modal-foot {
  padding: 8px 24px;
}
