.notification-list {
  position: fixed;
  top: 0px;
  right: 0px;
}

#app:not(.is-smallscreen) .notification-list {
  margin: 72px 32px;
}

.is-smallscreen .notification-list {
  width: 100%;
  margin: 64px 0px;
}

.notification-item {
  box-sizing: border-box;
  width: 280px;
  margin: auto;
  margin-bottom: 16px;
  border-radius: 2px;
  background-color: #FFF;
  /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)*/
}

.is-smallscreen .notification-item {
  width: 95%;
  margin-bottom: 2.5%;
}

.notification-header {
  line-height: 36px;
}

.notification-header::after {
  content: '';
  display: block;
  clear: both;
}

.notification-title {
  float: left;
  margin: 0px;
  padding-left: 12px;
}

.notification-close {
  cursor: pointer;
  float: right;
  padding: 0px 12px;
}

.notification-close:hover {
  background-color: #EEE;
}

.notification-body {
  padding: 12px;
}
