{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ]
  ],
  "plugins": [
    // "transform-runtime",
    [
      "transform-remove-console"
    ],
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "comments": false,
  "env": {
    "production": {
      "presets": [
        "babili"
      ]
    },
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}