{
  "presets": [
    [
      "env",
      {
        "targets": {
          "android": 4.4
        }
      }
    ]
    // "babili"
  ],
  "plugins": [
    // [
    //   "transform-remove-console"
    // ],
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "comments": false,
  "env": {
    "production": {
      "presets": []
    }
  }
}