.modal-container {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 70;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-flow: column nowrap;
  min-width: 300px;
  max-width: 640px;
  width: 95%;
  max-height: 90%;
  background-color: #FFF;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  margin: 0px;
  height: 36px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin-left: 16px;
}

.modal-close-btn {
  cursor: pointer;
  border: none;
  font-size: 24px;
  color: #424242;
  margin: 0px;
}

.modal-close-btn:hover {
  color: #757575
}

.modal-body {
  padding: 8px 16px;
  overflow-y: auto;
  overflow-x: hidden;
}

.is-bodyoverflow .modal-body {
  box-shadow: inset 0 0 12px 0 rgba(0,0,0,0.3);
}

.modal-footer {
  height: 44px;
  padding: 4px 16px;
}
