.field {
  margin: 1.25rem;
  margin-top: .5rem;
}

.column > .field,
.is-smallscreen .column > .field {
  margin: 1.25rem 0rem;
}

.is-smallscreen .field {
  margin: 1.25rem 1rem;
}

.is-smallscreen th > .field,
th > .field {
  margin: .5rem 0;
  font-weight: 400;
}

.field-label {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;  margin-bottom: .1rem;
  font-size: .85rem;
  font-weight: 500;
  text-transform: uppercase;
}

.field-label > label {
  display: block;
  width: 100%;
}


.field-input input,
.field-input textarea,
.field-input select {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  padding: .75rem;
  background-color: #FCFCFC;
  border: 1px solid #CFD8DC;
  transition-property: border-color,background-color;
  transition-duration: .15s;
  border-radius: .2rem;
}

.field-input textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 4rem;
}

.field-input input:focus,
.field-input textarea:focus,
.field-input select:focus {
  border-color: #29B6F6;
  background-color: #FFFFFF;
  outline: none;
}

.input-sets {
  box-sizing: border-box;
  border: 1px solid #CFD8DC;
  border-radius: .2rem;
  padding: .4rem .8rem;
}

.input-sets .input-sets {
  border: none;
}

.input-sets > .input-sets {
  padding:0;
}

.input-sets .field,
.is-smallscreen .input-sets .field {
  margin:0;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.input-sets .field > .field-label {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;  font-size: .85rem;
  font-weight: 500;
  text-transform: none;
  padding-right: .3rem;
}

.input-sets .field > .field-input {
  flex: 1;
}

.input-sets .field > .field-input input,
.input-sets .field > .field-input textarea,
.input-sets .field > .field-input select {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: .2rem;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-bottom: 1px dotted #9E9E9E;
  background-color: unset;
}

.input-sets .field > .field-input input:focus,
.input-sets .field > .field-input textarea:focus,
.input-sets .field > .field-input select:focus {
  border-bottom-color: #29B6F6;
  outline: none;
}
