.row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -.3rem;
  margin-right: -.3rem;
}

.page-content > .row {
  margin-left: -.6rem;
  margin-right: -.6rem;
}

.box-content > .row {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.is-smallscreen .box-content > .row {
  padding-left: .8rem;
  padding-right: .8rem;
}
