/*.box-body > .field > .field-input > .table-view,*/
.box-body > .table-view {
  margin-left: -24px;
  margin-right: -24px;
}

/*.is-smallscreen .box-body > .field > .field-input > .table-view,*/
.is-smallscreen .box-body > .table-view {
  margin-left: -16px;
  margin-right: -16px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

/*.box-body > .field > .field-input > .table-view th:first-child,
.box-body > .field > .field-input > .table-view td:first-child,*/
.box-body > .table-view th:first-child,
.box-body > .table-view td:first-child {
  padding-left: 24px;
}

/*.box-body > .field > .field-input > .table-view th:last-child,
.box-body > .field > .field-input > .table-view td:last-child,*/
.box-body > .table-view th:last-child,
.box-body > .table-view td:last-child {
  padding-right: 24px;
}

/*.is-smallscreen .box-body > .field > .field-input > .table-view th:first-child,
.is-smallscreen .box-body > .field > .field-input > .table-view td:first-child,*/
.is-smallscreen .box-body > .table-view th:first-child,
.is-smallscreen .box-body > .table-view td:first-child {
  padding-left: 16px;
}

/*.is-smallscreen .box-body > .field > .field-input > .table-view th:last-child,
.is-smallscreen .box-body > .field > .field-input > .table-view td:last-child,*/
.is-smallscreen .box-body > .table-view th:last-child,
.is-smallscreen .box-body > .table-view td:last-child {
  padding-right: 16px;
}

.is-clickable > table > tbody > tr {
  cursor: pointer;
}

/* fix ugly box spacing */
.box-body:last-child .table-view {
  margin-bottom: -12px;
}

.table-view th, td {
  padding-left: 8px;
  padding-right: 8px;
}

.table-view th {
  border-top: 1px solid #E0E0E0;
  background-color: #F5F5F5;
}

.table-view th:not(:first-child),
#app:not(.is-smallscreen) .table-view td:not(:first-child) {
  border-left: 1px solid #E0E0E0;
}

#app:not(.is-smallscreen) .table-view .table tr.empty-row-text:hover {
  cursor: unset;
  background-color: #fff;
}

.table-view tr.empty-row-text > td {
  height: 96px;
  background-color: #fafafa;
  color: #555;
}

.table-view .additional-row {
  cursor: unset;
}

#app:not(.is-smallscreen) .table-view tbody > tr:hover:not(.additional-row) {
  background-color: #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.table-view tr.is-selected {
  background-color: #f1f1f1;
  font-weight: bold;
}

.table-view tr .check-icon {
  float: right;
}

.table-view tr:not(.is-selected) .check-icon {
  display: none;
}

.table-view .row-clickable-icon {
  font-size: 1.5em;
}

.table-view-navigate {
  padding: 4px 24px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.table-view-navigate > div {
  display: flex;
  align-items: center;
}

.is-smallscreen .table-view-navigate {
  padding: 4px 16px;
}

.table-view-spacing {
  padding: 12px;
}
