.tampan {
  height: 100%;
  width: 100%;
}

.tampan-sidebar {
  height: inherit;
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  transition-duration: 300ms;
  z-index: 1;
}

body.is-sidebar-toggleable .tampan-sidebar {
  width: 280px;
}

.tampan-sidebar-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2);
  z-index: 1;
}

.menu-groups {
  flex: 1;
  overflow-y: auto;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  border-right: 1px solid #FFFFFF;
}

.menu-group-title {
  user-select: none;
  cursor: default;
  display: flex;
  height: 24px;
  align-items: center;
  padding: 0px 8px;
  font-size: .8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.menus {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.menu-link {
  user-select: none;
  display: flex;
  height: 3.5rem;
  ;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 150ms;
}

.is-smallscreen .menu-link {
  height: 4rem;
  ;
}

.menu-link:hover {}

.menu-link:active,
.menu-link:focus {
  font-weight: 500;
}

.menu-link.is-active,
.menu-link.router-link-active {
  font-weight: 500;
}

.menu-icon {
  display: flex;
  height: 3.5rem;
  ;
  width: 3.5rem;
  ;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.is-smallscreen .menu-icon {
  height: 4rem;
  ;
  width: 4rem;
  ;
}

.tampan-content {
  box-sizing: border-box;
  height: inherit;
  width: inherit;
  padding-left: 250px;
}

body.is-sidebar-toggleable .tampan-content {
  padding-left: 0px;
}
