#app {
  font-size: 14px;
}

.app-container {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

.main-header {
  height: 48px;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.main-header > div {
  float: left;
}

.brand {
  display: flex;
  width: 240px;
  height: 48px;
}

.is-smallscreen .brand {
  width: 48px;
}

.brand-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  padding: 0px 8px;
}

.brand-icon > img {
  max-width: 32px;
}

.brand-name > h1 {
  margin: 0px;
  font-size: 16px;
  line-height: 48px;
}

.is-smallscreen .brand-name-text {
  display: none;
}

.main-navbar-item {
  cursor: pointer;
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
  font-size: 28px;
}

.is-largescreen .sidebar-toggle {
  display: none;
}

.is-fullscreen .fullscreen-icon {
  display: none;
}

#app:not(.is-fullscreen) .fullscreen-exit-icon {
  display: none;
}

.main-container {
  display: flex;
  height: 100%;
}

.main-sidebar,
.main-content {
  box-sizing: border-box;
}

.main-content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.main-sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 240px;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transform: translateX(-256px);
  z-index: 500;
}

.ganjel {
  min-height: 48px;
  min-width: 1px;
}

.sidebar-scroll-container {
  overflow-y: scroll;
  height: 100%;
}

.is-sidebarshow .main-sidebar {
  transform: translateX(-0px);
}

.sidebar-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .4);
}

.menu-item {
  display: flex;
  height: 48px;
  text-decoration: none;
}

.menu-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  height: 48px;
  width: 48px;
}

.menu-item-name {
  display: inline-block;
  line-height: 48px;
}

.is-largescreen.is-sidebarshow .main-content {
  padding-left: 240px;
}
