.table {
  min-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.table td,
.table th {
  box-sizing: border-box;
  height: 45px; /* min-height + 1px border */
  padding-top: 4px;
  padding-bottom: 4px;
  vertical-align: middle;
  border-bottom: 1px solid #E0E0E0;
  text-align: left;
}

#app:not(.is-smallscreen) .table tbody > tr:hover {
  background-color: #EEE;
  border-bottom: 1px solid #EEE;
}

.box-body > .table-view {
  margin-left: -24px;
  margin-right: -24px;
}

.is-smallscreen .box-body > .table-view {
  margin-left: -16px;
  margin-right: -16px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.box-body > .table-view th:first-child,
.box-body > .table-view td:first-child {
  padding-left: 24px;
}

.is-smallscreen .box-body > .table-view th:first-child,
.is-smallscreen .box-body > .table-view td:first-child {
  padding-left: 16px;
}

.box-body > .table-view th:last-child,
.box-body > .table-view td:last-child {
  padding-right: 24px;
}

.is-smallscreen .box-body > .table-view th:last-child,
.is-smallscreen .box-body > .table-view td:last-child {
  padding-right: 16px;
}

.table-view-navigate {
  padding: 4px 24px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.table-view-navigate > div {
  display: flex;
  align-items: center;
}

.is-smallscreen .table-view-navigate {
  padding: 4px 16px;
}
