.boxes {
  padding: 24px;
  padding-bottom: 72px !important;
}

.is-smallscreen .boxes {
  padding: 0px;
}

.boxes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.is-smallscreen .boxes-header {
  flex-wrap: wrap;
}

.boxes-header-left,
.boxes-header-center,
.boxes-header-right {
  display: flex;
  align-items: center;
}

.is-smallscreen .boxes-header-left,
.is-smallscreen .boxes-header-center,
.is-smallscreen .boxes-header-right {
  width: 100%;
}

.boxes-header > .icon {
  text-decoration: none;
  color: #212121;
  font-size: 24px;
  padding-right: 16px;
}

.boxes-header > .icon:hover {
  color: #0277BD;
}

.boxes-header > .button:first-child,
.boxes-header-left > .button:first-child,
.boxes-header-center > .button:first-child,
.boxes-header-right > .button:first-child {
  padding-left: 0px;
}

.is-smallscreen .boxes-header {
  padding: 0px 16px;
}

.boxes-title {
  font-size: 32px;
  font-weight: 300;
  margin: 24px 0px;
}

.box {
  margin-bottom: 24px;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
  background-color: #fff;
}

.box-header,
.box-footer {
  height: 56px;
  padding: 0px 24px;
}

.is-smallscreen .box-header,
.is-smallscreen .box-footer {
  padding: 0px 16px;
}

.box-header {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
}

.box-title {
  line-height: 56px;
  margin: 0px;
  font-size: 20px;
  font-weight: 400;
}

.box-control > .button {
  margin-top: 14px;
}

.box-body {
  padding: 0px 24px;
}

.box-body:last-child {
  padding-bottom: 16px !important;
}

.is-smallscreen .box-body {
  padding: 0px 16px;
}

