.breadcrumb-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0px;
}

.is-smallscreen .breadcrumb-list {
  width: 100%;
}

.breadcrumb-item > * {
  font-size: 16px;
  padding: 4px 8px;
}

.breadcrumb-item:first-child {
  padding-left: 0px;
}

.breadcrumb-item > a {
  color: #0288D1;
  text-decoration: none;
}

.breadcrumb-item > a:hover {
  text-decoration: underline;
}

.breadcrumb-item > span {
  color: #777;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '>';
}
