.button {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  display: inline-block;
  padding: 0px 8px;
  margin: 3px 6px;
  border: none;
  border-radius: 2px;
  outline: none;
  transform: scale(1);
  transition-duration: 80ms;
  transition-property: transform;
  background-color: rgba(0,0,0,0);
  color: #616161;
}

.button,
.button > span {
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  font-size: 14px;
  line-height: 36px;
}

.button:hover {
  background-color: #EEEEEE;
}

.button:active {
  transform: scale(.96);
}

.button:first-child {
  margin-left: 0px;
}

.button:last-child {
  margin-right: 0px;
}

.button.is-small {
  height: 32px;
  line-height: 32px;
  font-size: 13.5px;
}

/* from https://material.angular.io/components/component/button */
.button.is-raised {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.button.is-primary {
  background-color: #1E88E5;
  color: #fff;
}

.button.is-primary:hover {
  background-color: #2196F3;
}

.button.is-positive {
  background-color: #388E3C;
  color: #fff;
}

.button.is-positive:hover {
  background-color: #43A047;
}

.button.is-negative {
  background-color: #E53935;
  color: #fff;
}

.button.is-negative:hover {
  background-color: #F44336;
}

.button > .icon {
  display: block;
  float: left;
  font-size: 24px;
  margin: 6px 3px;
}

.button > .icon:first-child {
  margin-left: 0px;
}

td .button {
  margin-top: 0px;
  margin-bottom: 0px;
}
