.table {
  min-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.table td,
.table th {
  box-sizing: border-box;
  height: 49px; /* min-height + 1px border */
  padding-top: 6px;
  padding-bottom: 6px;
  vertical-align: middle;
  border-bottom: 1px solid #E0E0E0;
  text-align: left;
}

.is-smallscreen .table td,
.is-smallscreen .table th {
  height: 64px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#app:not(.is-smallscreen) .table tbody > tr:hover {
  background-color: #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}
