.tampan {
  font-family: 'Ubuntu', 'Roboto', 'Trebuchet MS', 'Lucida Grande', sans-serif;
  font-size: 1rem;
  color: #424242;
}

button, a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

button, input, textarea, select {
  font-family: inherit;
}

button:focus {
  outline: none;
}
