body, #app {
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

#app {
  display: flex;
  flex-direction: column;
}

#main-header {
  width: 100%;
  display: flex;
  flex-basis: 48px;
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 100;
}

#main-header > .item {
  user-select: none;
  cursor: pointer;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-header > .item > .icon {
  color: #FFFFFF;
  font-size: 28px;
}

#main-menu {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 240px;
  padding-top: 48px;
  transition-property: transform;
  transition-duration: 320ms;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 75;
}

#app:not(.is-mainmenu-show) #main-menu {
  transform: translateX(-240px);
}

#main-menu-container {
  height: 100%;
  overflow-y: scroll;
}

#main-menu ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

.main-menu-sparator {
  padding: 8px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bolder;
}

#main-menu-container > .item {
  height: 48px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

#main-menu-container > .item:active,
#main-menu-container > .item:focus {
  font-weight: bold;
}

#main-menu-container > .item > .icon {
  padding: 12px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  padding: 12px;
}

#main-container {
  box-sizing: border-box;
  flex-basis: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.is-mainmenu-show:not(.is-smallscreen) #main-container {
  padding-left: 240px;
}

#main-content {
  flex-basis: 100%;
  overflow-y: scroll;
}

#main-footer {
  flex-basis: 48px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: 100%;
}

#main-footer.is-empty {
  display: none;
}
