.table {
  width: 100%;
  border-collapse: collapse;
}

.table > thead > tr > th {
  text-align: left;
  background-color: #F5F5F5;
}

.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
  height: 38px;
}

.table.table--clickable > tbody > tr {
  cursor: pointer;
}

.table.table--clickable > tbody > tr:hover {
  background-color: #F5F5F5;
  color: #212121;
}

.table > thead > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 0px 4px;
  border: 1px solid #E0E0E0;
}
