.notification-list-item {
  display: inline-block;
  margin-right: 10px;
}
.notification-list-enter-active, .notification-list-leave-active {
  transition: all 200ms;
}
.notification-list-enter, .notification-list-leave-to {
  opacity: 0;
  transform: translateY(-24px);
}

.content-fade-enter-active, .content-fade-enter {
  transition: all 100ms ease-in-out;
}
.content-fade-enter, .content-fade-leave-to {
  opacity: 0;
}
.content-fade-leave, .content-fade-leave-active {
  transition: all 100ms ease-in-out;
}

.loading-fade-enter-active, .loading-fade-leave-active {
  transition-property: opacity;
  transition-duration: 300ms;
}
.loading-fade-enter, .loading-fade-leave-to {
  opacity: 0
}

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: 300ms;
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

.overlay-fade-enter-active {
  transition-timing-function: ease-in-out;
  transition-property: opacity;
  transition-duration: 1200ms;
}

.overlay-fade-leave-active {
  transition-timing-function: ease-in-out;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-delay: 100ms;
}

.overlay-fade-enter, .overlay-fade-leave-to {
  opacity: 0
}
