.button-group {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  box-sizing: border-box;
}

span.button-group {
  display: inline-block;
}

.button-group.align-right {
  text-align: right;
}

.button-group.align-center {
  text-align: center;
}

.button-group.justify-between {
  display: flex;
  justify-content: space-between;
}

.button-group.justify-around {
  display: flex;
  justify-content: space-around;
}

.box-content > .button-group {
  padding: .25rem 1rem;
}

.is-smallscreen .box-content > .button-group {
  padding: .25rem .75rem;
}

.button {
  /* using pointer on button is not standard.
  We use it for accessibility reason. */
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;  border: none;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.button:disabled {
  cursor: default;
}

.button > .button-shell {
  font: inherit;
  font-weight: 500;
  transition-property: transform;
  transition-duration: 32ms;
  padding: .24rem .5rem;
  margin: .3rem;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  border-radius: .2rem;
  color: #212121;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #424242;
  transition:
    color 100ms ease-in-out,
    background-color 100ms ease-in-out,
    border-color 100ms ease-in-out,
    box-shadow 100ms ease-in-out;
}

.is-smallscreen .button > .button-shell {
  padding: .35rem .7rem;
}

.button:hover > .button-shell {
  border-color: #E0E0E0;
  background-color: #FAFAFA;
  color: #212121;
}

.button:focus > .button-shell {
  border-color: #E0E0E0;
  outline-color: #E0E0E0;
  box-shadow: 0 0 0 .15rem #E0E0E0;
}

.button:active > .button-shell {
  background-color: #F5F5F5;
}

.button:disabled > .button-shell {
  color: #616161;
  background-color: unset;
}

.button:disabled:active > .button-shell {
  box-shadow: none;
}

.button:disabled > .button-shell:focus,
.button:disabled:focus > .button-shell,
.button:disabled:active > .button-shell {
  box-shadow: none;
}

/* @keyframes button_refuse {
  33% {
    transform: translate3d(-.15rem, 0, 0);
  }
  66% {
    transform: translate3d(.2rem, 0, 0);
  }
} */

.button-icon {
  font-size: 1.6rem;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
}

.button-icon:last-child,
.button-icon:empty {
  margin-right:0;
}

.button-text {
  font-size: 1rem;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
}

.button-icon + .button-text:not(:empty) {
  margin-left: .25rem;
}

.button.positive > .button-shell {
  background-color: #43A047;
  color: #FFFFFF;
  border-color: #2E7D32;
}

.button.positive:hover > .button-shell {
  background-color: #388E3C;
  border-color: #1B5E20;
}

.button.positive:active > .button-shell {
  background-color: #2E7D32;
  border-color: #1B5E20;
}

.button.positive:focus > .button-shell {
  box-shadow: 0 0 0 .15rem #A5D6A7;
}

.button.positive:disabled > .button-shell,
.button.positive:disabled:hover > .button-shell {
  background-color: #66BB6A;
  color: #EEEEEE;
  border-color: #388E3C;
}

.button.positive.outline > .button-shell {
  background-color: rgba(0, 0, 0, 0);
  color: #43A047;
  border-color: #43A047;
}

.button.positive.outline:hover > .button-shell {
  background-color: rgba(0, 0, 0, 0);
  color: #1B5E20;
  border-color: #1B5E20;
}

.button.positive.outline:disabled > .button-shell,
.button.positive.outline:disabled:hover > .button-shell {
  background-color: rgba(0, 0, 0, 0);
  color: #388E3C;
  border-color: #388E3C;
}

.button.negative > .button-shell {
  background-color: #E53935;
  color: #FFFFFF;
  border-color: #C62828;
}

.button.negative:hover > .button-shell {
  background-color: #D32F2F;
  border-color: #B71C1C;
}

.button.negative:disabled > .button-shell,
.button.negative:disabled:hover > .button-shell {
  background-color: #E57373;
  color: #EEEEEE;
  border-color: #EF5350;
}

.button.negative.outline > .button-shell {
  background-color: #FFFFFF;
  border-color: #E53935;
  color: #E53935;
}

.button.negative.outline:hover > .button-shell {
  background-color: #FFFFFF;
  border-color: #C62828;
  color: #C62828;
}

.button.negative.outline:disabled > .button-shell,
.button.negative.outline:disabled:hover > .button-shell {
  background-color: rgba(0, 0, 0, 0);
  color: #EEEEEE;
  border-color: #EF5350;
}
