.button-group {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  box-sizing: border-box;
}

span.button-group {
  display: inline-block;
}

.button-group.align-right {
  text-align: right;
}

.button-group.align-center {
  text-align: center;
}

.button-group.justify-between {
  display: flex;
  justify-content: space-between;
}

.button-group.justify-around {
  display: flex;
  justify-content: space-around;
}

.box-content > .button-group {
  padding: .25rem 1rem;
}

.is-smallscreen .box-content > .button-group {
  padding: .25rem .75rem;
}

.modal-footer > .button-group {
  padding: 0 1.25rem;
}

.is-smallscreen .modal-footer > .button-group {
  padding: 0 1rem;
}

.modal-footer > .button-group > button:first-child > .button-shell {
  margin-left: 0;
}

.modal-footer > .button-group > button:last-child > .button-shell {
  margin-right: 0;
}

/* === === === BASE BUTTON === === === */

.button {
  /* using pointer on button is not standard.
  We use it for accessibility reason. */
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;  border: none;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.button > .button-shell {
  font: inherit;
  font-weight: 500;
  transition-property: transform;
  transition-duration: 32ms;
  padding: .2rem .5rem;
  margin: .3rem;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  border-radius: .2rem;
  color: #212121;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #424242;
  transition:
    color 100ms ease-in-out,
    background-color 100ms ease-in-out,
    border-color 100ms ease-in-out,
    box-shadow 100ms ease-in-out;
}

.is-smallscreen .button > .button-shell {
  padding: .35rem .7rem;
}

input + .button > .button-shell {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: .3rem;
}

.button:hover > .button-shell {
  border-color: #E0E0E0;
  background-color: #FAFAFA;
  color: #212121;
}

.button:focus > .button-shell {
  outline-color: #E0E0E0;
  box-shadow: 0 0 .025rem .15rem #E0E0E0;
}

.button:active > .button-shell {
  background-color: #F5F5F5;
}

.button-icon {
  font-size: 1.5rem;
}

.button-icon:last-child,
.button-icon:empty {
  margin-right:0;
}

.button-text {
  font-size: 1rem;
  font-weight: 500;
}

.button-icon + .button-text:not(:empty) {
  margin-left: .25rem;
}

/* === === === BUTTON LARGE === === === */

.button.large > .button-shell {
  font: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  padding: .5rem 1rem;
  margin: .5rem;
  border-radius: .25rem;
}


/* === === === BUTTON DISABLED === === === */

.button:disabled {
  cursor: default;
}

.button:disabled > .button-shell {
  color: #616161;
  background-color: unset;
}

.button:disabled:active > .button-shell {
  box-shadow: none;
}

.button:disabled > .button-shell:focus,
.button:disabled:focus > .button-shell,
.button:disabled:active > .button-shell {
  box-shadow: none;
}

/* === === === BUTTON OUTLINE === === === */

.button.outline > .button-shell {
  background-color: rgba(0, 0, 0, 0);
  color: #424242;
  border-color: #424242;
}

.button.outline:hover > .button-shell {
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
  border-color: #212121;
}

.button.outline:disabled > .button-shell,
.button.outline:disabled:hover > .button-shell {
  background-color: rgba(0, 0, 0, 0);
  color: #757575;
  border-color: #9E9E9E;
}

/* === === === BUTTON POSITIVE === === === */

.button.positive > .button-shell {
  background-color: #43A047;
  color: #FFFFFF;
  border-color: #2E7D32;
}

.button.positive:hover > .button-shell {
  background-color: #388E3C;
  border-color: #1B5E20;
}

.button.positive:active > .button-shell {
  background-color: #2E7D32;
  border-color: #1B5E20;
}

.button.positive:focus > .button-shell {
  box-shadow: 0 0 .025rem .125rem #A5D6A7;
}

.button.positive:disabled > .button-shell,
.button.positive:disabled:hover > .button-shell {
  background-color: #66BB6A;
  color: #EEEEEE;
  border-color: #388E3C;
}

/* === === === BUTTON POSITIVE OUTLINE === === === */

.button.positive.outline > .button-shell {
  background-color: rgba(0, 0, 0, 0);
  color: #43A047;
  border-color: #43A047;
}

.button.positive.outline:hover > .button-shell {
  background-color: rgba(0, 0, 0, 0);
  color: #1B5E20;
  border-color: #1B5E20;
}

.button.positive.outline:disabled > .button-shell,
.button.positive.outline:disabled:hover > .button-shell {
  background-color: rgba(0, 0, 0, 0);
  color: #388E3C;
  border-color: #388E3C;
}

/* === === === BUTTON NEGATIVE === === === */

.button.negative > .button-shell {
  background-color: #E53935;
  color: #FFFFFF;
  border-color: #C62828;
}

.button.negative:hover > .button-shell {
  background-color: #D32F2F;
  border-color: #B71C1C;
}

.button.negative:disabled > .button-shell,
.button.negative:disabled:hover > .button-shell {
  background-color: #E57373;
  color: #EEEEEE;
  border-color: #EF5350;
}

/* === === === BUTTON NEGATIVE OUTLINE === === === */

.button.negative.outline > .button-shell {
  background-color: #FFFFFF;
  border-color: #C62828;
  color: #E53935;
}

.button.negative.outline:hover > .button-shell {
  background-color: #FFFFFF;
  border-color: #C62828;
  color: #C62828;
}

.button.negative.outline:disabled > .button-shell,
.button.negative.outline:disabled:hover > .button-shell {
  background-color: rgba(0, 0, 0, 0);
  color: #EEEEEE;
  border-color: #EF5350;
}

/* === === === BUTTON UNDER .page-header === === === */

.page-header > .button {
  height: 4rem;
  width: 4rem;
}

.page-header > .button > .button-shell {
  color: #FFFFFF;
}

.page-header > .button > .button-shell > .button-icon {
  font-size: 1.75rem;
}

.page-header > .button > .button-shell > .button-text {
  font-size: 1.2rem;
  font-weight: 400;
}

.page-header > .button:hover > .button-shell {
  color: #FFFFFF;
  background-color: unset;
  border-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.page-header > .button:focus > .button-shell {
  color: #FFFFFF;
  background-color: unset;
  border-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}
