input,
textarea,
select {
  font: inherit;
}

input:disabled,
select:disabled,
textarea:disabled {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
