.table {
  width: 100%;
  border-collapse: collapse;
}

.table > thead > tr > th {
  text-align: left;
  background-color: #F5F5F5;
}

.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
  height: 3rem;
}

.table > thead > tr > th:first-child,
.table > tbody > tr > td:first-child,
.table > tfoot > tr > td:first-child {
  padding-left: 1.25rem;
  border-left: none;
}

.table > thead > tr > th:last-child,
.table > tbody > tr > td:last-child,
.table > tfoot > tr > td:last-child {
  padding-right: 1.25rem;
  border-right: none;
}

.is-smallscreen .box-content > .table >thead > tr > th:first-child,
.is-smallscreen .box-content > .table >tbody > tr > td:first-child,
.is-smallscreen .box-content > .table >tfoot > tr > td:first-child {
  padding-left: 1rem;
}

.is-smallscreen .box-content > .table > thead > tr > th:last-child,
.is-smallscreen .box-content > .table > tbody > tr > td:last-child,
.is-smallscreen .box-content > .table > tfoot > tr > td:last-child {
  padding-right: 1rem;
}

.is-smallscreen .table > thead > tr,
.is-smallscreen .table > tbody > tr,
.is-smallscreen .table > tfoot > tr {
  height: 4rem;
}

.is-smallscreen .table > thead > tr{
  height: 3.5rem;
}

.table.nowrap {
  white-space: nowrap;
}

.table.clickable > tbody {
  cursor: pointer;
}

.table.hoverable > tbody > tr:hover {
  background-color: #F5F5F5;
  color: #212121;
}

.table.borderless > tbody > tr > td,
.table.borderless > tfoot > tr > td,
.table.borderless > thead > tr > th {
  border-left: none;
  border-right: none;
}

.table.ellipsis > tbody > tr > td,
.table.ellipsis > tfoot > tr > td,
.table.ellipsis > thead > tr > th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table > thead > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 0 1rem;
  border: 1px solid #E0E0E0;
}

.table > thead > tr:first-child > th {
  border-top: none;
}

.table > tbody > tr > td.emptyinfo {
  height: 8rem;
  font-size: .9rem;
  line-height: 1.25;
  background-color: #F5F5F5;
  text-align: center;
  font-style: italic;
  white-space: unset;
}
