/* === === === TABLE BASE === === === */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
  height: 3rem;
}

.table > thead > tr > th {
  text-align: left;
  background-color: #FAFAFA;
  font-weight: 500;
}

.box-content:first-child > .table:first-child > thead > tr:first-child > th {
  border-top: none;
}

.table > thead > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 0 1rem;
  border: 1px solid #E0E0E0;
}

.table > thead > tr > th:first-child,
.table > tbody > tr > td:first-child,
.table > tfoot > tr > td:first-child {
  padding-left: 1.25rem;
  border-left: none;
}

.table > thead > tr > th:last-child,
.table > tbody > tr > td:last-child,
.table > tfoot > tr > td:last-child {
  padding-right: 1.25rem;
  border-right: none;
}

.is-smallscreen .box-content > .table > thead > tr > th:first-child,
.is-smallscreen .box-content > .table > tbody > tr > td:first-child,
.is-smallscreen .box-content > .table > tfoot > tr > td:first-child {
  padding-left: 1rem;
}

.is-smallscreen .box-content > .table > thead > tr > th:last-child,
.is-smallscreen .box-content > .table > tbody > tr > td:last-child,
.is-smallscreen .box-content > .table > tfoot > tr > td:last-child {
  padding-right: 1rem;
}

.is-smallscreen .table > thead > tr,
.is-smallscreen .table > tbody > tr,
.is-smallscreen .table > tfoot > tr {
  height: 4rem;
}

.is-smallscreen .table > thead > tr {
  height: 3.5rem;
}

/* === === === TABLE ATTRIBUTES === === === */

.table.clickable > tbody > tr {
  cursor: pointer;
}

.table.clickable > tbody > tr:hover {
  background-color: #F5F5F5;
}

.table.hoverable > tbody > tr:hover {
  background-color: #F5F5F5;
  color: #212121;
}

.table.borderless > tbody > tr > td,
.table.borderless > tfoot > tr > td,
.table.borderless > thead > tr > th {
  border-left: none;
  border-right: none;
}

/* NOTE: max-width is required in each column */
.table.nowrap > tbody > tr > td,
.table.nowrap > tfoot > tr > td,
.table.nowrap > thead > tr > th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* === === === CELL ATTRIBUTES === === === */

.table > tbody > tr > td.emptyinfo {
  height: 9rem;
  font-size: .9rem;
  line-height: 1.25;
  background-color: #F5F5F5;
  text-align: center;
  font-style: italic;
  white-space: unset;
}

.table > tbody > tr > td.numeric {
  text-align: right;
  font-variant-numeric: tabular-nums;
}
