.admin-panel {
  height: 100%;
  width: 100%;
}

.tampan-sidebar {
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  transition-duration: 300ms;
  z-index: 1;
}

/* .is-sidebar-toggleable .tampan-sidebar {
} */

.tampan-sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2);
  z-index: 1;
}

.tampan-navigation {
  height: inherit;
  border-right: 1px solid #FFFFFF;
  overflow-y: auto;
}

.menu-groups {
  flex: 1;
  overflow-y: auto;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.menu-group-title {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
  display: flex;
  height: 1.75rem;
  align-items: center;
  padding: 0 .6rem;
  font-size: .8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.menus {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.menu-link {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;  display: flex;
  height: 3.5rem;;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 150ms;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.is-smallscreen .menu-link {
  height: 4rem;;
}

.menu-link:hover {
  background-color: #F5F5F5;
  border-top-color: #F5F5F5;
  border-bottom-color: #F5F5F5;
}

.menu-link:active,
.menu-link:focus {
  font-weight: 500;
}

.menu-link.is-active,
.menu-link.router-link-active {
  cursor: default;
  font-weight: 500;
  border-top-color: #E0E0E0;
  border-bottom-color: #E0E0E0;
}

.menu-icon {
  display: flex;
  height: 3rem;
  width: 3rem;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.is-smallscreen .menu-icon {
  height: 4rem;
  width: 4rem;
}

.tampan-content {
  box-sizing: border-box;
  height: inherit;
  width: inherit;
}

.is-sidebar-toggleable .tampan-content {
  padding-left:0;
}
