/* === === === BASE BUTTON === === === */

.button {
  /* using pointer on button is not standard.
  We use it for accessibility reason. */
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border: none;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.button > .button-shell {
  font: inherit;
  font-weight: 500;
  transition-property: transform;
  transition-duration: 60ms;
  min-height: 1.5rem;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem;
  border: 1px solid #f0f0f0;
  background-color: #f9f9f9;
  border-radius: 0.25rem;
  color: #212121;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #424242;
  transition: color 100ms ease-in-out, background-color 100ms ease-in-out,
    border-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
}

.is-smallscreen .button > .button-shell {
  padding: 0.5rem 0.75rem;
}

input + .button > .button-shell {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0.3rem;
}

.button:hover > .button-shell {
  border-color: #e0e0e0;
  background-color: #fafafa;
  color: #212121;
}

.button:focus > .button-shell {
  outline-color: #e0e0e0;
  box-shadow: 0 0 0.025rem 0.15rem #e0e0e0;
}

.button:active > .button-shell {
  background-color: #f5f5f5;
}

.button-icon {
  font-size: 1.5rem;
}

.button-icon:last-child,
.button-icon:empty {
  margin-right: 0;
}

.button-text {
  font-size: 1rem;
  font-weight: 500;
}

.button-icon + .button-text:not(:empty) {
  margin-left: 0.25rem;
}

/* === === === BUTTON LARGE === === === */

.button.button-large > .button-shell {
  font: inherit;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
}

.button.button-large .button-text {
  font-size: 1.25rem;
  font-weight: 500;
}

.button.button-large .button-icon {
  font-size: 2rem;
}

.button.button-large .button-icon + .button-text {
  margin-left: 0.5rem;
}

/* === === === BUTTON DISABLED === === === */

.button:disabled {
  cursor: default;
}

.button:disabled > .button-shell {
  color: #616161;
  background-color: unset;
}

.button:disabled:active > .button-shell {
  box-shadow: none;
}

.button:disabled > .button-shell:focus,
.button:disabled:focus > .button-shell,
.button:disabled:active > .button-shell {
  box-shadow: none;
}

/* === === === BUTTON OUTLINE === === === */

.button.button-outline > .button-shell {
  background-color: #f9f9f9;
  color: #424242;
  border-color: #9f9f9f;
}

.button.button-outline:hover > .button-shell {
  background-color: #f0f0f0;
  color: #212121;
  border-color: #616161;
}

.button.button-outline:disabled > .button-shell,
.button.button-outline:disabled:hover > .button-shell {
  background-color: rgba(0, 0, 0, 0);
  color: #757575;
  border-color: #9e9e9e;
}

/* === === === BUTTON POSITIVE === === === */

.button.button-positive > .button-shell {
  background-color: #43a047;
  color: #ffffff;
  border-color: #2e7d32;
}

.button.button-positive:hover > .button-shell {
  background-color: #388e3c;
  border-color: #1b5e20;
}

.button.button-positive:active > .button-shell {
  background-color: #2e7d32;
  border-color: #1b5e20;
}

.button.button-positive:focus > .button-shell {
  box-shadow: 0 0 0.025rem 0.125rem #a5d6a7;
}

.button.button-positive:disabled > .button-shell,
.button.button-positive:disabled:hover > .button-shell {
  background-color: #66bb6a;
  color: #eeeeee;
  border-color: #388e3c;
}

/* === === === BUTTON POSITIVE OUTLINE === === === */

.button.button-positive.button-outline > .button-shell {
  background-color: rgba(0, 0, 0, 0);
  color: #43a047;
  border-color: #43a047;
}

.button.button-positive.button-outline:hover > .button-shell {
  background-color: rgba(0, 0, 0, 0);
  color: #1b5e20;
  border-color: #1b5e20;
}

.button.button-positive.button-outline:disabled > .button-shell,
.button.button-positive.button-outline:disabled:hover > .button-shell {
  background-color: rgba(0, 0, 0, 0);
  color: #388e3c;
  border-color: #388e3c;
}

/* === === === BUTTON NEGATIVE === === === */

.button.button-negative > .button-shell {
  background-color: #e53935;
  color: #ffffff;
  border-color: #c62828;
}

.button.button-negative:hover > .button-shell {
  background-color: #d32f2f;
  border-color: #b71c1c;
}

.button.button-negative:disabled > .button-shell,
.button.button-negative:disabled:hover > .button-shell {
  background-color: #e57373;
  color: #eeeeee;
  border-color: #ef5350;
}

/* === === === BUTTON NEGATIVE OUTLINE === === === */

.button.button-negative.button-outline > .button-shell {
  background-color: #ffffff;
  border-color: #c62828;
  color: #e53935;
}

.button.button-negative.button-outline:hover > .button-shell {
  background-color: #ffffff;
  border-color: #c62828;
  color: #c62828;
}

.button.button-negative.button-outline:disabled > .button-shell,
.button.button-negative.button-outline:disabled:hover > .button-shell {
  background-color: rgba(0, 0, 0, 0);
  color: #eeeeee;
  border-color: #ef5350;
}

/* === === === BUTTON UNDER .page-header === === === */

.page-header > .button {
  height: 4rem;
}

.page-header > .button > .button-shell {
  height: 100%;
  padding: 0 0.75rem;
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}

.page-header > .button > .button-shell > .button-icon {
  font-size: 1.75rem;
}

.page-header > .button > .button-shell > .button-text {
  font-size: 1rem;
  font-weight: 500;
}

.page-header > .button:hover > .button-shell {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: none;
}

.page-header > .button:focus > .button-shell {
  color: #ffffff;
  background-color: unset;
  border-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}
