.input-range {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.input-range > input {
  width: 100%;
  margin: 8.5px 0;
}

.input-range > .icon {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 32px;
  height: 24px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-range > .prefix.icon {
  margin-right: 0.25rem;
}

.input-range > .suffix.icon {
  margin-left: 0.25rem;
}
