.list-block {
  height: 100%;
  overflow-y: scroll;
}

.is-smallscreen .page-content > .list-block {
  padding: 0 0.875rem;
}

.list-block-list {
  display: block;
  box-sizing: border-box;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}

.list-block-item {
  box-sizing: border-box;
  display: block;
  float: left;
}

.is-smallscreen .list-block-item {
  padding: 0.125rem;
}

.list-block-content {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
  border-radius: 0.25rem;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  transition-duration: 100ms;
}

.list-block-content:hover {
  background-color: #fefefe;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
