.modal {
  z-index: 300;
  position: relative;
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100%;
}

.modal-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  max-height: 98%;
  width: 98%;
  background-color: #ffffff;
  border-radius: .2rem;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2),
  0 1.75rem 38px 3rem rgba(0, 0, 0, .14),
  0 9px 46px .6rem rgba(0, 0, 0, .12);
}

.modal-header,
.modal-footer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 3rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.modal-title {
  user-select: none;
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.25rem;
}

.is-smallscreen .modal-title {
  margin-left: 1rem;
}

.modal-content {
  overflow-y: auto;
  overflow-x: hidden;
  flex-basis: 100%;
}

.modal-content p {
  padding: 0 1.2rem;
  margin: .3rem 0;
}

.modal.overflow .modal-content {
  box-shadow: 8px 14px 16px -16px rgba(0, 0, 0, .4) inset,
  8px -14px 16px -16px rgba(0, 0, 0, .4) inset;
  padding-top: .6rem;
  padding-bottom: .6rem;
}
