.page {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}

.page-header {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;  cursor: default;
  box-sizing: border-box;
  height: 4rem;
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  align-items: center;
  box-shadow:0 -1px .5rem #000000;
}

.page-header > .button {
  cursor: pointer;
  background-color: unset;
  border: none;
}

.page-header > .button:hover {
  background-color: unset;
  border: none;
}

.page-header > .button > .button-icon {
  font-size: 1.75rem;
}

.page-title {
  box-sizing: border-box;
  font-size: 1.75rem;
  font-weight: 400;
  margin: 0;
  line-height: 4rem;
  margin: 0rem 1.2rem;
}

.is-smallscreen .page-title:first-child {
  margin: 0 .8rem;
}

.button + .page-title {
  margin-left: 0;
}

.page-content {
  box-sizing: border-box;
  padding: 1.2rem;
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.is-smallscreen .page-content {
  padding: .3rem;
}

.page-footer {
  box-sizing: border-box;
  min-height: 3rem;
  max-height: 3rem;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row-reverse;
  border-top: 1px solid #FFFFFF;
}
