.row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -.25rem;
  margin-right: -.25rem;
}

.page-content > .row {
  margin-left: -.5rem;
  margin-right: -.5rem;
}

.box-content > .row {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.modal-content > .row {
  margin-left: .75rem;
  margin-right: .75rem;
}

.is-smallscreen .box-content > .row {
  padding-left: .75rem;
  padding-right: .75rem;
}
