.tabs {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;  display: block;
  width: inherit;
}

.is-smallscreen .tabs {
  overflow-y: scroll;
}

.tab-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.tab-item {
  padding: 0 1.5rem;
  height: 3rem;
  display: flex;
  justify-content: center; 
  align-items: center;
  box-sizing: border-box;
}

.tab-item.active {
  cursor: default;
}

.is-smallscreen .tab-item {
  height: 3.5rem;
}

.page-content.padding > .tabs.primary {
  position: relative;
  top: -1.5rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.is-smallscreen .page-content.padding > .tabs.primary {
  position: relative;
  top: -.75rem;
  margin-left: -.75rem;
  margin-right: -.75rem;
}

.tabs.primary .tab-cover {
  background-color: #43A047;
}

.tabs.primary .tab-item {
  background-color: #43A047;
  color: #FFFFFF;
  border-left: 1px solid #43A047;
  border-right: 1px solid #43A047;
}

.tabs.primary .tab-item:hover {
  background-color: #4CAF50;
}

.tabs.primary .tab-item.active {
  background-color: #FFFFFF;
  color: #2E7D32;
  font-weight: 500;
  position: relative;
  bottom: -1px;
  border-color: #FFFFFF;
}

.tabs.primary .tab-item.previous-active {
  border-bottom-right-radius: .5rem;
}

.tabs.primary .tab-item.active + .tab-item,
.tabs.primary .tab-item.active + .tab-cover {
  border-bottom-left-radius: .5rem;
}

.tabs.primary:last-of-type .tab-item.active {
  background-color: rgba(0, 0, 0, 0);;
  border-color: rgba(0, 0, 0, 0);;
}

.tabs.secondary {
  background-color: #FFFFFF;
  color: #424242;
}

.page-content.padding > .tabs.secondary {
  position: relative;
  top: -1.5rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.is-smallscreen .page-content.padding > .tabs.secondary {
  position: relative;
  top: -.75rem;
  margin-left: -.75rem;
  margin-right: -.75rem;
}

.tabs.secondary .tab-item {
  border-top: .3rem solid #FFF;
  border-bottom: .3rem solid #FFF;
}

.tabs.secondary .tab-item:hover {
  border-bottom-color: #BDBDBD;
}

.tabs.secondary .tab-item.active {
  border-bottom-color: #616161;
  font-weight: 500;
}
