.tampan-sidebar {
  background-color: #FFFFFF;
}

.tampan-navigation {
  border-right-color: #E0E0E0;
}

.menu-group-title {
  background-color: #ECEFF1;
  color: #757575;
}

.menu-link {
  color: #37474F;
}

.menu-link:hover {
  background-color: #EEEEEE;
}

.menu-link:active,
.menu-link:focus {
  color: #43A047;
}

.menu-link.is-active,
.menu-link.router-link-active {
  background-color: #F5F5F5;
  color: #43A047;
}

.tampan-content {
  background-color: #F1F1F1;
}

/* BOX */

.box {
  border-color: #E0E0E0;
  background-color: #FFFFFF;
}

.box-content a {
  color: #1976D2;
}

.box-content a:hover {
  color: #1565C0;
}

/* PAGE */

.page-header {
  background-color: #43A047;
}

.page-header > .button {
  color: #FFFFFF;
}

.page-title {
  color: #FFFFFF;
}

.page-footer {
  border-top-color: #E0E0E0;
  background-color: #EEEEEE;
}
